section.keyCards {
  grid-area: 3 / 4 / 5 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

section.keyCards p {
  background-color: #fbfbfb;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

@media all and (max-width: 1380px) {
  section.keyCards p {
    padding: 15px;
  }
}

section.keyCards p img {
  margin-right: 24px;
}

section.keyCards p span.nb {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1380px) {
  section.keyCards p span.nb {
    font-size: 17px;
  }
}

section.keyCards p span.title {
  color: #74798c;
  font-size: 14px;
  font-weight: 500;
}
