* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(body div#root) {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (max-width: 900px) {
  :global(body div#root) {
    height: 100%;
  }
}
