article.score {
  width: max-content;
  position: relative;
  margin-right: 30px;
  grid-area: 4 / 3 / 5 / 4;
}

article.score figure {
  background-color: #fbfbfb;
  border-radius: 5px;
  margin: 0px;
  width: 258px;
  height: 263px;
}

article.score h2 {
  position: absolute;
  color: black;
  top: 24px;
  left: 34px;
  font-size: 15px;
  font-weight: 500;
}
